.search {
  width: 90%;
  height: 62px;
  background-color: #fff;
  margin-left: 100px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 5px #00000030;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 20% 25%;
  justify-content: space-between;
  align-items: center;
}
.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.search-input input {
  width: 100%;
  font-size: 20px;
  border: none;
}
.link {
  display: flex;
  list-style: none;
  margin-right: auto;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
}
